*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playlist+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playlist+Script&display=swap");
:root{
    --color-fondo-princpal:#FDF5E6;
    --color-texto-principal: #6E4228;
    --color-detalle-verde: #87A96B;
    --color-btn-naranja:#d59b8d;
    --fuente-titulos: 'Monserrat';
    --fuente-parrafos: 'Open Sans';
    --sombra-botones-oscura: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --sombra-botones-clara: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    --margen-interna-secciones: 50px;
}

header{
    background-color: var(--color-detalle-verde);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px 30px ;
}

.logo img{
    height: 50px;
    padding: 0px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:20px;

}
 nav li{
    list-style: none;
 }

 nav ul li a{
    text-decoration: none;
    color: var(--color-fondo-princpal);
    font-family: var(--fuente-titulos);
    font-weight: 600;
 }
 .boton-pedir a{
    text-decoration: none;
    background-color: rgb(174, 110, 72);
    width: 200px;
    height: 40px;
    padding: 10px 25px;
    border-radius: 50px;
    color: #FDF5E6;
 }

 .hero{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/ensalada-producto.avif');
    background-size: cover;          /* Cubre todo el espacio */
    background-position: center;     /* Centra la imagen */
    background-repeat: no-repeat;    /* No se repite */
    color: white;   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    position: relative;
 }

 .hero h1{
    text-align: center;
    flex-direction:column;
    padding: 30px;
    font-family: var(--fuente-titulos);
    font-size: 4.5rem;
    text-transform: uppercase;
 }

 .hero-botones{
    text-align: center;
    height: 45px;
    display: flex;
    gap: 20px;
    justify-content: center;

 }
.hero-botones a{
    text-decoration: none;
    background-color: var(--color-btn-naranja);
    color:#FDF5E6;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: var(--sombra-botones-clara);
}

.hero p{
    font-size: 2rem;
    font-family: var(--fuente-parrafos);
    margin-bottom: 50px;
    text-align: center;
    text-transform: capitalize;
}

.capa-oscura{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    z-index: 0;
    top:0;
}


.capa-textos{
    z-index: 1;
}

.rollos{
    background-color:var(--color-texto-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--margen-interna-secciones);
    color: var(--color-fondo-princpal);
}
.rollos-contenidos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.rollos-descripcion{
    flex: 1;
    width: 100%;
    h2{
        font-family: var(--fuente-titulos);
        font-size: 4rem;
        line-height: 50px;
    }
    h3{
        font-family: var(--fuente-titulos);
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    a{
        text-decoration: none;
        color: var(--color-detalle-verde);
        background-color: var(--color-fondo-princpal);
        padding: 10px 30px;
        border-radius: 10px;
        text-align: center;
        font-size: 1.3rem;
    }
}
.rollos-productos{
    flex:2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 25px;
}
.rollo-producto img{
    width: 100%;
}
.rollo-producto{
    border: 1px solid var(--color-btn-naranja);
    border-radius: 10px;
    background-color: var(--color-btn-naranja);
    overflow: hidden;
}

.contenido-rollo{
    padding: 20px;
    overflow: hidden;

    h2{
        text-align: center;
        font-size: 1.7rem;
        font-family: var(--fuente-parrafos);
    }
    h3{
        font-size: 1.3rem;
        font-family: var(--fuente-titulos);
    }
    ul{
        margin: 15px 0px;
    }
    .precio{
        font-size: 1.5rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .precio a{
        text-decoration: none;
        color: var(--color-detalle-verde);
        background-color: var(--color-fondo-princpal);
        padding: 10px 30px;
        border-radius: 10px;
        text-align: center;
        font-size: 1.3rem;
    }
}
.rollo-ingredientes{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    text-align: center;
    gap: 30px;

    .rollo-ingrediente{
        background-color: var(--color-detalle-verde);box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        padding: 20px;
        border-radius: 0px 10px 0px 10px;
        font-size: 1.2rem;
        
    }

}

.estilos-btn{
    text-decoration: none;
        color: var(--color-detalle-verde);
        background-color: var(--color-fondo-princpal);
        padding: 10px 30px;
        border-radius: 10px;
        text-align: center;
        font-size: 1.3rem;
}

.menu-dia{
    background-color: var(--color-fondo-princpal);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: var(--margen-interna-secciones);
    text-align: center;

    h2{
        font-family: var(--fuente-titulos);
        font-size: 3rem;
    }
    .menu-items{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
}
    }
    .opcion-almuerzo{
        box-shadow: var(--sombra-botones-oscura);
        padding: 20px;
        border-radius: 20px;
        text-align: left;
        width: 300px;
}
    .menu-dia a{
        background-color: var(--color-texto-principal);

    }

    img{
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        justify-content: center;
        align-items: center;
    }
    ul{
        margin-left:20px;
        margin-top: 20px;
    }
